<h1>Objectives:</h1>
{{input type="text" id="new-objective" placeholder="New Objective Title"
              value=newTitle action="createObjective"}}
<ul>
{{#each controller}}
  <li>{{#link-to 'objective' this.id}}{{title}}{{/link-to}}</li>
{{/each}}
</ul>

{{outlet}}
