security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        session_user:
            id: App\Service\SessionUserProvider
        service_account_token:
            id: App\Service\ServiceTokenUserProvider

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            stateless: true
            custom_authenticators:
                - App\Security\JsonWebTokenAuthenticator
            provider: session_user

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: '^/api/doc', roles: PUBLIC_ACCESS }
        - { path: '^/api$', roles: PUBLIC_ACCESS }
        - { path: '^/application/config', roles: PUBLIC_ACCESS }
        - { path: '^/auth/(login|logout)', roles: PUBLIC_ACCESS }
        - { path: '^/auth', roles: IS_AUTHENTICATED_FULLY }
        - { path: '^/api', roles: IS_AUTHENTICATED_FULLY }
        - { path: '^/application', roles: IS_AUTHENTICATED_FULLY }
        - { path: '^/upload', roles: IS_AUTHENTICATED_FULLY }
        - { path: '^/error', roles: IS_AUTHENTICATED_FULLY }
        - { path: '^/', roles: PUBLIC_ACCESS }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
