# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

# This file will only work if you are using the dev environment by setting APP_ENV=dev,
# otherwise Ilios defaults to the prod environment where this file is not read at all.

# Setup the symfony environment
APP_DEBUG=true
ILIOS_LOCALE=en
ILIOS_SECRET='f106e47b06a45247ea18c53d201esdf6a8de8bc'

# Required Ilios vars

# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
ILIOS_DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name

ILIOS_DATABASE_MYSQL_VERSION=5.7

# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
ILIOS_MAILER_URL=null://localhost

# Where on the file system to store upload learning materials
ILIOS_FILE_SYSTEM_STORAGE_PATH=/tmp

ILIOS_ENABLE_TRACKING=false
ILIOS_ERROR_CAPTURE_ENABLED=false

# These options will override the data in the application_config database table
# They aren't required, but can make it easier to develop locally against a production database
#ILIOS_AUTHENTICATION_TYPE=form
#ILIOS_REQUIRE_SECURE_CONNECTION=false

#ILIOS_LDAP_DIRECTORY_URL='ldaps://directory.example.com'
#ILIOS_LDAP_DIRECTORY_USER='uid=Ilios,ou=applications,dc=example,dc=com'
#ILIOS_LDAP_DIRECTORY_PASSWORD='P@55w0rd'
#ILIOS_LDAP_DIRECTORY_SEARCH_BASE='ou=people,dc=example,dc=com'
#ILIOS_LDAP_DIRECTORY_CAMPUS_ID_PROPERTY=idNumber
#ILIOS_LDAP_DIRECTORY_USERNAME_PROPERTY=eduPersonPrincipalName

