*~
*.patch
*build.properties
.buildpath
.project
.settings
.vagrant
.idea
web/index.php
web/application/config/config.php
web/application/config/database.php
web/application/config/ilios.php
tests/phpunit/phpunit.xml
