*~
*.patch
*build.properties
.buildpath
.project
.settings
.vagrant
index.php
web/system/application/config/config.php
web/system/application/config/database.php
web/system/application/config/ilios.php
tests/phpunit.xml
