*~
*.patch
*build.properties
.buildpath
.project
.settings
.vagrant
/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/app/logs/*
/app/cache/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
var/tmp/*
!var/tmp/.gitkeep
sauce_connect.log
phpunit.xml
