language: php

php:
  - "5.4"
  - "5.3"

before_script: 
  - pear channel-discover pear.phpunit.de
  - pear install phpunit/DbUnit
  - pear channel-discover pear.phing.info
  - pear install phing/phing
  - phpenv rehash
  - phing -propertyfile build.properties.sample -Ddb.username=root -Ddb.password='' -Dencryption_key=lorem_ipsum build
  - tar xzf /tmp/ilios/bundles/* -C web/
  - mysql -e 'create database ilios;'

script: "phpunit -c ${PWD}/tests/phpunit/default.phpunit.xml --include-path ${PWD}/tests/phpunit --exclude-group user_sync tests/phpunit/Ilios"