language: php
services: mysql
sudo: false
matrix:
  fast_finish: true
  allow_failures: 
  exclude:
  - php: '7'
  - php: '7.1'
  include:
  - php: '7'
    env: TEST_PHPUNIT_OTHERS=true
  - php: '7.1'
    env: TEST_PHPUNIT_OTHERS=true
  - php: '7'
    env: TEST_PHPUNIT_API1=true
  - php: '7.1'
    env: TEST_PHPUNIT_API1=true
  - php: '7'
    env: TEST_PHPUNIT_API2=true
  - php: '7.1'
    env: TEST_PHPUNIT_API2=true
  - php: '7'
    env: TEST_PHPUNIT_API3=true
  - php: '7.1'
    env: TEST_PHPUNIT_API3=true
  - php: '7'
    env: TEST_PHPUNIT_API4=true
  - php: '7.1'
    env: TEST_PHPUNIT_API4=true
  - php: '7'
    env: TEST_PHPUNIT_MESH_DATA_IMPORT=true
  - php: '7.1'
    env: TEST_PHPUNIT_MESH_DATA_IMPORT=true
  - php: '7'
    env: VALIDATE_SCHEMA=true
  - php: '7.1'
    env: VALIDATE_SCHEMA=true
  - php: '7'
    env: CHECK_CODING_STANDARDS=true
  - php: '7.1'
    env: CHECK_CODING_STANDARDS=true
php:
- '7'
- '7.1'
env:
  matrix:
  - TEST_PHPUNIT_API1=false
  - TEST_PHPUNIT_API2=false
  - TEST_PHPUNIT_API3=false
  - TEST_PHPUNIT_API4=false
  - TEST_PHPUNIT_OTHERS=false
  - TEST_PHPUNIT_MESH_DATA_IMPORT=false
  - VALIDATE_SCHEMA=false
  - CHECK_CODING_STANDARDS=false
cache:
  directories:
  - "$HOME/.composer/cache"
before_install:
- mysql -e "create database IF NOT EXISTS ilios;" -uroot
- echo $TRAVIS_PHP_VERSION
- if [ "$TRAVIS_PHP_VERSION" = "5.6" ];
  then (echo yes | pecl install apcu-4.0.11;);
  fi
- if [ "$TRAVIS_PHP_VERSION" != "5.6" ];
  then (echo "extension=apcu.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini);
  fi
- echo "memory_limit=2048M" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- echo "extension=ldap.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- cp ${TRAVIS_BUILD_DIR}/app/config/parameters.yml.travis ${TRAVIS_BUILD_DIR}/app/config/parameters.yml
install:
- composer install --no-interaction --prefer-dist -d ${TRAVIS_BUILD_DIR}
before_script:
- bin/console doctrine:database:drop --force --env=dev
- bin/console doctrine:database:create --env=dev
- bin/console doctrine:migrations:migrate  --env=dev --no-interaction
- bin/console cache:clear --env=test --no-interaction
script:
- if [ "$VALIDATE_SCHEMA" = true ];
  then (bin/console doctrine:schema:validate --env=dev);
  fi
- if [ "$CHECK_CODING_STANDARDS" = true ];
  then (vendor/bin/phpcs --standard=app/phpcs.xml src && vendor/bin/phpcs --standard=app/phpcs.xml tests);
  fi
- if [ "$CHECK_CODING_STANDARDS" = true ];
  then (bin/console security:check --end-point=http://security.sensiolabs.org/check_lock);
  fi
- if [ "$TEST_PHPUNIT_MESH_DATA_IMPORT" = true ];
  then (vendor/bin/phpunit -c phpunit.xml.dist --group mesh_data_import);
  fi
- if [ "$TEST_PHPUNIT_API1" = true ];
  then (vendor/bin/phpunit -c phpunit.xml.dist --group api_1);
  fi
- if [ "$TEST_PHPUNIT_API2" = true ];
  then (vendor/bin/phpunit -c phpunit.xml.dist --group api_2);
  fi
- if [ "$TEST_PHPUNIT_API3" = true ];
  then (vendor/bin/phpunit -c phpunit.xml.dist --group api_3);
  fi
- if [ "$TEST_PHPUNIT_API4" = true ];
  then (vendor/bin/phpunit -c phpunit.xml.dist --group api_4);
  fi
- if [ "$TEST_PHPUNIT_OTHERS" = true ];
  then (vendor/bin/phpunit -c phpunit.xml.dist --exclude-group mesh_data_import,api_1,api_2,api_3,api_4);
  fi
notifications:
  slack:
    secure: Aw/KYBBltksyk0cPOyB9ZGjtmtYWkcns5AgsZmv1FiTUT2BYVc06yQ0LGQGQDHeNs7Zi8l0BtxhJv0gtwdnYydvwiUckR3ZRjTV7//1ni8XzzyO612ArwVKA1LHTVKm8zy3PcW3XobKtI0QlQZ/jPJ2yk8nbcXJ7XnCXyFq7OyI=
