language: php
services: mysql
sudo: false
matrix:
  fast_finish: true
  allow_failures: 
  exclude:
  - php: '5.6'
  - php: '7'
  include:
  - php: '5.6'
    env: TEST_PHPUNIT_OTHERS=true
  - php: '7'
    env: TEST_PHPUNIT_OTHERS=true
  - php: '5.6'
    env: TEST_PHPUNIT_CONTROLLERSA=true
  - php: '7'
    env: TEST_PHPUNIT_CONTROLLERSA=true
  - php: '5.6'
    env: TEST_PHPUNIT_CONTROLLERSB=true
  - php: '7'
    env: TEST_PHPUNIT_CONTROLLERSB=true
  - php: '5.6'
    env: TEST_PHPUNIT_MESH_DATA_IMPORT=true
  - php: '7'
    env: TEST_PHPUNIT_MESH_DATA_IMPORT=true
  - php: '5.6'
    env: VALIDATE_SCHEMA=true
  - php: '7'
    env: VALIDATE_SCHEMA=true
  - php: '5.6'
    env: CHECK_CODING_STANDARDS=true
  - php: '7'
    env: CHECK_CODING_STANDARDS=true
php:
- '5.6'
- '7'
env:
  matrix:
  - TEST_PHPUNIT_CONTROLLERSA=false
  - TEST_PHPUNIT_CONTROLLERSB=false
  - TEST_PHPUNIT_OTHERS=false
  - TEST_PHPUNIT_MESH_DATA_IMPORT=false
  - VALIDATE_SCHEMA=false
  - CHECK_CODING_STANDARDS=false
cache:
  directories:
  - "$HOME/.composer/cache"
before_install:
- mysql -e "create database IF NOT EXISTS ilios;" -uroot
- echo $TRAVIS_PHP_VERSION
- if [ "$TRAVIS_PHP_VERSION" = "5.6" ];
  then (echo yes | pecl install apcu-4.0.10;);
  else (echo yes | pecl install apcu;);
  fi
- echo "memory_limit=2048M" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- echo "extension=ldap.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- cp ${TRAVIS_BUILD_DIR}/app/config/parameters.yml.travis ${TRAVIS_BUILD_DIR}/app/config/parameters.yml
- if [ "$CHECK_CODING_STANDARDS" ];
  then wget http://get.sensiolabs.org/security-checker.phar -O security-checker.phar;
  fi
install:
- SYMFONY_ENV=prod composer install --no-interaction --no-dev --prefer-dist
- composer install --no-interaction --prefer-dist -d ${TRAVIS_BUILD_DIR}
before_script:
- bin/console doctrine:database:drop --force --env=dev
- bin/console doctrine:database:create --env=dev
- bin/console doctrine:migrations:migrate  --env=dev --no-interaction
- bin/console cache:clear --env=test --no-interaction
script:
- if [ "$VALIDATE_SCHEMA" = true ];
  then (bin/console doctrine:schema:validate --env=dev);
  fi
- if [ "$CHECK_CODING_STANDARDS" = true ];
  then (bin/phpcs --standard=app/phpcs.xml src);
  fi
- if [ "$CHECK_CODING_STANDARDS" = true ];
  then (php security-checker.phar security:check);
  fi
- if [ "$TEST_PHPUNIT_MESH_DATA_IMPORT" = true ];
  then (bin/phpunit -c phpunit.xml.dist --group mesh_data_import);
  fi
- if [ "$TEST_PHPUNIT_CONTROLLERSA" = true ];
  then (bin/phpunit -c phpunit.xml.dist --group controllers_a);
  fi
- if [ "$TEST_PHPUNIT_CONTROLLERSB" = true ];
  then (bin/phpunit -c phpunit.xml.dist --group controllers_b);
  fi
- if [ "$TEST_PHPUNIT_OTHERS" = true ];
  then (bin/phpunit -c phpunit.xml.dist --exclude-group mesh_data_import,controllers_a,controllers_b);
  fi
notifications:
  slack:
    secure: Aw/KYBBltksyk0cPOyB9ZGjtmtYWkcns5AgsZmv1FiTUT2BYVc06yQ0LGQGQDHeNs7Zi8l0BtxhJv0gtwdnYydvwiUckR3ZRjTV7//1ni8XzzyO612ArwVKA1LHTVKm8zy3PcW3XobKtI0QlQZ/jPJ2yk8nbcXJ7XnCXyFq7OyI=
