language: php

services: mysql

matrix:
  fast_finish: true
  allow_failures:
    - env: "BEHAT_PROFILE='osxsafari' START_SAUCE_CONNECT=true TEST_BEHAT=true"
    - env: "BEHAT_PROFILE='osxchrome' START_SAUCE_CONNECT=true TEST_BEHAT=true"
    - env: "BEHAT_PROFILE='win7ie9' START_SAUCE_CONNECT=true TEST_BEHAT=true"
  exclude:
    #there is no need to test all the browsers against both versions of PHP, the phantomjs test will show if anything is terribly wrong
    - php: "5.4"
      env: BEHAT_PROFILE='default' START_SAUCE_CONNECT=true TEST_BEHAT=true
    - php: "5.4"
      env: BEHAT_PROFILE='win7ie9' START_SAUCE_CONNECT=true TEST_BEHAT=true
    - php: "5.4"
      env: BEHAT_PROFILE='osxsafari' START_SAUCE_CONNECT=true TEST_BEHAT=true
    - php: "5.4"
      env: BEHAT_PROFILE='osxchrome' START_SAUCE_CONNECT=true TEST_BEHAT=true
    #jasmine tests dont' need to be run against multiple PHP versions
    - php: "5.4"
      env: TEST_JASMINE=true

php:
  - "5.4"
  - "5.3"

env:
  global:
    #set these here becuase they get pullout by the behat SaucelabsFactory driver
    - SAUCE_USERNAME="ilios"
    - SAUCE_ACCESS_KEY="e7c24f1d-ec10-435d-9cec-d1c38bafa268"
    #its probably not necessary to set defaults for these, but this is an easy way
    #of declaring what options are available
    - START_LOCAL_SELENIUM=false
    - START_SAUCE_CONNECT=false
    - TEST_PHPUNIT=false
    - TEST_JASMINE=false
    - TEST_BEHAT=false
    - BEHAT_PROFILE=false
  matrix:
    - TEST_PHPUNIT=true
    - TEST_JASMINE=true
    - BEHAT_PROFILE='phantomjs' START_LOCAL_SELENIUM=true TEST_BEHAT=true
    - BEHAT_PROFILE='default' START_SAUCE_CONNECT=true TEST_BEHAT=true
    - BEHAT_PROFILE='win7ie9' START_SAUCE_CONNECT=true TEST_BEHAT=true
    - BEHAT_PROFILE='osxsafari' START_SAUCE_CONNECT=true TEST_BEHAT=true
    - BEHAT_PROFILE='osxchrome' START_SAUCE_CONNECT=true TEST_BEHAT=true

addons:
  hosts:
    - precise64
  # sauce_connect addon is current disabled for pull requests so we can't use this
  # very simple way, instead we need to download sauce_connect manually
  #sauce_connect: true

before_install:
  - composer self-update
  - sudo apt-get update -qq

install:
  # Install composer packages in the app root. This will set up phing.
  - composer install

# Provision web server for Behat tests
  - "sudo apt-get install -qq --force-yes apache2 libapache2-mod-php5 php5-mysql php5-ldap sendmail expect > /dev/null"
  - "sudo /usr/sbin/a2enmod rewrite && sudo /usr/sbin/a2enmod headers && sudo /usr/sbin/a2enmod ssl"
  - "sudo /bin/ln -s /etc/apache2/sites-available/default-ssl /etc/apache2/sites-enabled/000-default-ssl"
  - "(cd /etc/apache2/sites-enabled && sudo /usr/bin/find . -! -type d -exec /bin/sed -i '/<Directory \\/var\\/www\\/>/,/<\\/Directory>/ { s,AllowOverride None,AllowOverride All,}' {} \\;)"
  - "sudo /usr/bin/find /etc/apache2/sites-enabled -! -type d -exec /bin/sed -i \"s,/var/www,${TRAVIS_BUILD_DIR}/web,g\" {} \\;"
  - sudo sed -i -e "/DocumentRoot/i\ServerName precise64" /etc/apache2/sites-available/default
  - "sudo /etc/init.d/apache2 restart"

# Install Behat
  - if [ "$TEST_BEHAT" = true ]; then (composer install -d tests/behat); fi

# Install PHPUnit
  - if [ "$TEST_PHPUNIT" = true ]; then (composer install -d tests/phpunit); fi

# Install the Ilios PHP app locally for testing
  - ${TRAVIS_BUILD_DIR}/bin/phing -q -propertyfile build.properties.sample -Dskip-prompt=true -Dskip-db-backup=true -Ddb.username=root -Ddb.password= -Ddb.group=ilios_test -Dencryption_key=lorem_ipsum -Ddeploydir=${TRAVIS_BUILD_DIR}/web -Dbackupdir=${TRAVIS_BUILD_DIR}/backup -Dwebuser=${USER} -Dwebgroup="`id -g -n`"

before_script:
# Start Selenium standalone server for Behat tests
  - if [ "$START_LOCAL_SELENIUM" = true ]; then (java -jar ${TRAVIS_BUILD_DIR}/tests/behat/bin/selenium-server.jar -role hub > /dev/null &); fi

#Start Phantom for headless Behat tests / have to sleep for a bit to allow selenium hub to start
  - if [ "$START_LOCAL_SELENIUM" = true ]; then (sleep 5; phantomjs --webdriver=8080 --webdriver-selenium-grid-hub=http://127.0.0.1:4444 --ignore-ssl-errors=true > /dev/null &); fi

# This is only necessary while sauce_connect is being disabled in pull requests
  - if [ "$START_SAUCE_CONNECT" = true ]; then (${TRAVIS_BUILD_DIR}/tests/behat/bin/sauce_connect --readyfile /tmp/scready.tmp --tunnel-identifier $TRAVIS_JOB_NUMBER $SAUCE_USERNAME $SAUCE_ACCESS_KEY > /dev/null &); fi
#sauce connect takes forever to start so we have to use a ready file to wait until the tunnel is open
  - if [ "$START_SAUCE_CONNECT" = true ]; then (while [ ! -f /tmp/scready.tmp ]; do(sleep .5) done); fi

script:
# Run Jasmine tests
  - if [ "$TEST_JASMINE" = true ]; then (phantomjs ${TRAVIS_BUILD_DIR}/tests/jasmine/run-jasmine.js ${TRAVIS_BUILD_DIR}/tests/jasmine/SpecRunner.html); fi

# Run PHPUnit tests
  - if [ "$TEST_PHPUNIT" = true ]; then (${TRAVIS_BUILD_DIR}/tests/phpunit/bin/phpunit -c ${TRAVIS_BUILD_DIR}/tests/phpunit/default.phpunit.xml --include-path ${TRAVIS_BUILD_DIR}/tests/phpunit --exclude-group integration ${TRAVIS_BUILD_DIR}/tests/phpunit/Ilios); fi

# Run Behat test for this profile
  - if [ "$TEST_BEHAT" = true ]; then (${TRAVIS_BUILD_DIR}/tests/behat/bin/behat -c ${TRAVIS_BUILD_DIR}/tests/behat/behatci.yml --profile $BEHAT_PROFILE); fi
