#================================================
# Ilios build configuration
#================================================

#
# Full path to the build directory.
#
builddir=/tmp/ilios/build
#
# Full path to the package directory.
# The "build" target will create a tarball in this directory.
#
packagedir=/tmp/ilios/bundles
#
# Full path to backup directory.
# The "backup" target (part of the "deploy" task) may create
# a tarball of the given deployment directory in there.
#
backupdir=/web/ilios/backups
#
# Full path to the deployment directory.
#
deploydir=/web/ilios/htdocs
#
# Full path to the database backup directory.
#
db_backupdir=/web/ilios/backups
#
# User account name that owns the deployment directory.
# Since this directory is usually the webroot, that user will most likely be the user account
# that runs the web server.
# Depending on your *nix distro, this may be "www-data", "apache" or something else.
#
webuser=apache
#
# User group that owns the deployment directory.
#
webgroup=apache

#================================================
# Ilios configuration (mandatory)
#================================================

#------------------------------------------------
# CodeIgniter settings
#------------------------------------------------

#
# Encryption key, must be provided to ensure session security.
# see http://ellislab.com/codeigniter/user-guide/libraries/sessions.html
# see http://ellislab.com/codeigniter/user-guide/libraries/encryption.html
# Do not use quotes!
#
encryption_key=

#------------------------------------------------
# Ilios-specific settings
#------------------------------------------------
#
# The name of your institution/school/university.
# Do not put quotes, e.g. institution_name=University of California
#
institution_name=UCSF

#------------------------------------------------
# Database settings
#------------------------------------------------
#
# DB configuration group
#
db.group=ilios
#
# DB server hostname
#
db.hostname=localhost
#
# DB name
#
db.name=ilios
#
# DB user name
#
db.username=XXXXXX
#
# DB user password
#
db.password=XXXXXX

#------------------------------------------------
# UCSF user synchronization process settings
#------------------------------------------------
#
# LDAP hostname
#
tasks.user_sync.ldap.hostname=localhost
#
# LDAP bind DN
#
tasks.user_sync.ldap.binddn=XXXXXX
#
# LDAP password
#
tasks.user_sync.ldap.password=XXXXXX

#================================================
# Ilios configuration overwrites (optional)
#================================================

#
# Idle-page timeout (in ms)
#
#ilios_idle_page_timeout=7200000

#
# Authentication method.
# Allowed values are "default" and "shibboleth"
#
#ilios_authentication=shibboleth

#
# Threshold (in days) for the visual change alerts in the calendar dashboard.
#
#visual_alert_threshold_in_days=3

#
# Assetic script aggregation
#
#script_aggregation_enabled=true

#------------------------------------------------
# On/off switches for the various cron tasks.
# Allowed values are "true" and "false"
#------------------------------------------------
#
#tasks.change_alerts.enabled=true
#tasks.enrollment_export.enabled=true
#tasks.teaching_reminders.enabled=true
#tasks.user_sync.enabled=true

#================================================
# DB installation
#
# The following section only pertains
# to the database-installation-part
# of new deployments.
#================================================

#------------------------------------------------
# Default user ("zero-user") installation settings
#------------------------------------------------
#
# ID of the the school that the user will be primarily associated with.
#
db_install.zero_user.school_id=1
#
# First name
#
db_install.zero_user.first_name=User
#
# Last name
#
db_install.zero_user.last_name=Zero
#
# Email address
#
db_install.zero_user.email=root@example.com
#
# Account login
#
db_install.zero_user.login=zero_user
#
# Account password
#
db_install.zero_user.password=Ch4nge_m3
