volumes:
  shared-storage:
  public:
  var:
services:
  db:
    build:
      context: .
      target: mysql-demo
    ports:
      - "13306:3306"
  nginx:
    build:
      context: .
      target: nginx
    environment:
      - FPM_CONTAINERS=php:9000
    ports:
      - "8000:80"
    volumes:
      # The "cached" option has no effect on Linux but improves performance on Mac
      - ./:/srv/app:ro,cached
      - public:/srv/app/public:ro
    depends_on:
      - php
  php:
    build:
      context: .
      target: fpm-dev
    environment:
      - ILIOS_DATABASE_URL=mysql://ilios:ilios@db/ilios?serverVersion=8.0
      - ILIOS_REQUIRE_SECURE_CONNECTION=false
      - ILIOS_ERROR_CAPTURE_ENABLED=false
      - ILIOS_SEARCH_HOST=http://opensearch:9200
      - ILIOS_REDIS_URL=redis://redis
      - ILIOS_FEATURE_DTO_CACHING=false
      - ILIOS_FILE_SYSTEM_STORAGE_PATH=/ilios-storage
      - ILIOS_TIKA_URL=http://tika:9998
    volumes:
      # The "cached" option has no effect on Linux but improves performance on Mac
      - ./:/srv/app:ro,cached
      # Share storage between containers
      - var:/srv/app/var:rw
      - public:/srv/app/public:rw
      - shared-storage:/ilios-storage:rw
    depends_on:
      - db
      - redis
  messages:
    build:
      context: .
      target: consume-messages
    environment:
      - ILIOS_DATABASE_URL=mysql://ilios:ilios@db/ilios?serverVersion=8.0
      - ILIOS_ERROR_CAPTURE_ENABLED=false
      - ILIOS_SEARCH_HOST=http://opensearch:9200
      - ILIOS_REDIS_URL=redis://redis
      - ILIOS_FILE_SYSTEM_STORAGE_PATH=/ilios-storage
      - ILIOS_TIKA_URL=http://tika:9998
    restart: always
    command: [ "--time-limit", "3600", "-vv"]
    depends_on:
      - db
      - opensearch
      - redis
      - tika
    volumes:
      # The "cached" option has no effect on Linux but improves performance on Mac
      - ./:/srv/app:ro,cached
      # Share storage between containers
      - var:/srv/app/var:rw
      - public:/srv/app/public:rw
      - shared-storage:/ilios-storage:rw
  opensearch:
    build:
      context: .
      target: opensearch
    environment:
      - DISABLE_SECURITY_PLUGIN=true
      - discovery.type=single-node
    ports:
      - "9200:9200"
  redis:
    build:
      context: .
      target: redis
    ports:
      - "6379:6379"
  tika:
    build:
      context: .
      target: tika
    ports:
      - "9998:9998"
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2
    ports:
      - 5601:5601
    environment:
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
      - OPENSEARCH_HOSTS=["http://opensearch:9200"]
