<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12"/>
    <rule ref="Generic.PHP.RequireStrictTypes"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue" />
    <rule ref="SlevomatCodingStandard.Arrays.TrailingArrayComma" />
    <rule ref="SlevomatCodingStandard.Commenting.UselessFunctionDocComment" />
    <rule ref="SlevomatCodingStandard.Commenting.UselessInheritDocComment" />

    <file>bin/</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>
    <exclude-pattern>migrations</exclude-pattern>
    <exclude-pattern>public/index.php</exclude-pattern>
    <exclude-pattern>bin/.phpunit</exclude-pattern>
    <exclude-pattern>config/preload.php</exclude-pattern>
    <exclude-pattern>config/bundles.php</exclude-pattern>
    <exclude-pattern>src/Kernel.php</exclude-pattern>
    <exclude-pattern>tests/bootstrap.php</exclude-pattern>
</ruleset>
