parameters:
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/phpstan-console-application.php
    paths:
        - bin/
        - config/
        - public/
        - src/
    level: 4
    reportUnmatchedIgnoredErrors: true