parameters:
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/console-loader.php
    ignoreErrors:
        -
            message: '#has invalid typehint type Composer\\\Script\\Event#'
            paths:
                - src/Composer/*
