parameters:
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/phpstan-console-application.php
    paths:
        - src
    level: 3
    reportUnmatchedIgnoredErrors: true
