<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="AppKernel" />
        <server name="ILIOS_ENABLE_TRACKING" value="0" />
        <server name="ILIOS_FILE_SYSTEM_STORAGE_PATH" value="/tmp" />
        <server name="ILIOS_AUTHENTICATION_TYPE" value="form" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="50" />
    </php>

    <testsuites>
        <testsuite name="Ilios Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>mesh_data_import</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/*Bundle/Resources</directory>
                <directory>src/*/*Bundle/Resources</directory>
                <directory>src/*/Bundle/*Bundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>