{# /Ilios/FrontendBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% include "IliosFrontendBundle::stylesheets.html.twig" %}
        {% include "IliosFrontendBundle::javascripts.html.twig" %}
    </head>
    <body>

    </body>
</html>
