{# /Ilios/FrontendBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="env-environment" value="testing">
        <meta name="env-assetsBaseDir" value="{{ asset('bundles/iliosfrontend') }}" />
        {% stylesheets filter="cssrewrite"
            '@qunit_css'
       		 %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% include "IliosFrontendBundle::stylesheets.html.twig" %}
        {% include "IliosFrontendBundle::javascripts.html.twig" %}
    </head>
    <body>
        <div id="qunit"></div>
	    <div id="qunit-fixture"></div>
	    <div id="ember-testing-container">
        	<div id="ember-testing"></div>
      	</div>
        {% include "IliosFrontendBundle::testjavascripts.html.twig" %}
    </body>
</html>
