<!doctype html>
<html>
<head>
<title>Your Font/Glyphs</title>
<link rel="stylesheet" href="style.css" />
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->
<style>
	section, header, footer {display: block;}
	body {
		font-family: sans-serif;
		color: #444;
		line-height: 1.5;
		font-size: 1em;
	}
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		paddin: 0;
	}
	.glyph {
		float: left;
		text-align: center;
		background: #eee;
		padding: .75em;
		margin: .75em 1.5em .75em 0;
		width: 7em;
		border-radius: .375em;
		box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #ccc;
	}
	.glyph input {
		width: 100%;
		text-align: center;
		font-family: consolas, monospace;
	}
	.glyph input, .mtm {
		margin-top: .75em;
	}
	.w-main {
		width: 80%;
	}
	.centered {
		margin-left: auto;
		margin-right: auto;
	}
	.fs1 {
		font-size: 2em;
	}
	header {
		margin: 2em 0;
		padding-bottom: .5em;
		color: #666;
		box-shadow: 0 2px #eee;
	}
	header h1 {
		font-size: 2em;
		font-weight: normal;
	}
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after, .clear { clear: both; }
	footer {
		margin-top: 2em;
		padding: .5em 0;
		box-shadow: 0 -2px #eee;
	}
	a, a:visited {
		color: #B35047;
		text-decoration: none;
	}
	a:hover, a:focus {color: #000;}
	.box1 {
		display: inline-block;
		width: 15em;
		padding: .25em .5em;
		background: #eee;
		margin: .5em 1em .5em 0;
	}
</style>
</head>
<body>
	<div class="w-main centered">
	<section class="mtm clearfix" id="glyphs">
	<header>
		<h1>Your font contains the following glyphs</h1>
		<p>The generated SVG font can be imported back to <a href="http://keyamoon.com/icomoon/app">IcoMoon</a> for modification.</p>
	</header>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00f;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x270e;"></div>
		<input type="text" readonly="readonly" value="&amp;#x270e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x26b2;"></div>
		<input type="text" readonly="readonly" value="&amp;#x26b2;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe015;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe015;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe016;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe016;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2193;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2193;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2191;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2191;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x26ad;"></div>
		<input type="text" readonly="readonly" value="&amp;#x26ad;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x26ae;"></div>
		<input type="text" readonly="readonly" value="&amp;#x26ae;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe013;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe013;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe011;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe011;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe001;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe001;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01e;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe000;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe000;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2014;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2014;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x26d4;"></div>
		<input type="text" readonly="readonly" value="&amp;#x26d4;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2715;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2715;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x78;"></div>
		<input type="text" readonly="readonly" value="&amp;#x78;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2714;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2714;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2013;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2013;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe006;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe006;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe005;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe005;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe003;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe003;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe004;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe004;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe007;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00b;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00c;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00e;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x266b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x266b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe019;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe019;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x25bc;"></div>
		<input type="text" readonly="readonly" value="&amp;#x25bc;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x25b2;"></div>
		<input type="text" readonly="readonly" value="&amp;#x25b2;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x25c0;"></div>
		<input type="text" readonly="readonly" value="&amp;#x25c0;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x25b6;"></div>
		<input type="text" readonly="readonly" value="&amp;#x25b6;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01a;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01b;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2757;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2757;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x3f;"></div>
		<input type="text" readonly="readonly" value="&amp;#x3f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe020;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe020;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe012;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe012;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe014;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe014;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01d;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01f;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe018;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe018;" />
	</div>
	</section>
	<div class="clear"></div>
	<section class="mtm clearfix" id="glyphs">
	<header>
		<h1>CSS Class Names</h1>
	</header>
	<span class="box1">
		<span aria-hidden="true" class="icon-home"></span>
		&nbsp;icon-home
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-edit"></span>
		&nbsp;icon-edit
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-search"></span>
		&nbsp;icon-search
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-actions"></span>
		&nbsp;icon-actions
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-remove"></span>
		&nbsp;icon-remove
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-download"></span>
		&nbsp;icon-download
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-upload"></span>
		&nbsp;icon-upload
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-link"></span>
		&nbsp;icon-link
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-unlink"></span>
		&nbsp;icon-unlink
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-attach"></span>
		&nbsp;icon-attach
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-star"></span>
		&nbsp;icon-star
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-plus"></span>
		&nbsp;icon-plus
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-minus"></span>
		&nbsp;icon-minus
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-help"></span>
		&nbsp;icon-help
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-info"></span>
		&nbsp;icon-info
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-blocked"></span>
		&nbsp;icon-blocked
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-cancel"></span>
		&nbsp;icon-cancel
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-cancel-2"></span>
		&nbsp;icon-cancel-2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-checkmark"></span>
		&nbsp;icon-checkmark
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-plus-2"></span>
		&nbsp;icon-plus-2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-minus-2"></span>
		&nbsp;icon-minus-2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-document"></span>
		&nbsp;icon-document
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-pdf"></span>
		&nbsp;icon-file-pdf
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-word"></span>
		&nbsp;icon-file-word
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-excel"></span>
		&nbsp;icon-file-excel
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-powerpoint"></span>
		&nbsp;icon-file-powerpoint
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-zip"></span>
		&nbsp;icon-file-zip
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-picture"></span>
		&nbsp;icon-picture
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-film"></span>
		&nbsp;icon-film
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-graph"></span>
		&nbsp;icon-graph
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-music"></span>
		&nbsp;icon-music
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-microphone"></span>
		&nbsp;icon-microphone
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-down"></span>
		&nbsp;icon-arrow-down
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-up"></span>
		&nbsp;icon-arrow-up
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-left"></span>
		&nbsp;icon-arrow-left
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-right"></span>
		&nbsp;icon-arrow-right
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-expand"></span>
		&nbsp;icon-expand
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-location"></span>
		&nbsp;icon-location
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-clock"></span>
		&nbsp;icon-clock
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-warning"></span>
		&nbsp;icon-warning
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-question"></span>
		&nbsp;icon-question
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-printer"></span>
		&nbsp;icon-printer
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-camera"></span>
		&nbsp;icon-camera
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-user"></span>
		&nbsp;icon-user
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-users"></span>
		&nbsp;icon-users
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-add-user"></span>
		&nbsp;icon-add-user
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-locked"></span>
		&nbsp;icon-locked
	</span>
	</section>
	<footer>
		<p>Generated by <a href="http://icomoon.io">IcoMoon.io</a></p>
	</footer>
	</div>
	<script>
	document.getElementById("glyphs").addEventListener("click", function(e) {
		var target = e.target;
		if (target.tagName === "INPUT") {
			target.select();
		}
	});
	</script>
</body>
</html>