parameters:
    symfony:
        container_xml_path: ../var/cache/test/App_KernelTestDebugContainer.xml
    bootstrapFiles:
        - ../bin/.phpunit/phpunit-9-0/vendor/autoload.php
    paths:
        - ./
    level: 1
