parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ilios
    database_user:     ilios_user
    database_password: ilios_pass

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false

    authentication_type: "form"
    legacy_password_salt: "Ilios2 ilios_authentication_internal_auth_salt value"
    file_system_storage_path: "A path on your server's file system where Ilios can store files like learning_materials"
