<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ilios</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>

    <div class="section hero">
        <div class="container">
            <div class="six columns">
                <h4 class="hero-heading">
                    Whoops! There was a problem loading the Ilios front-end!
                    Please have an administrator update the frontend to the latest version.
                </h4>
                <a class="button button-primary" href="https://github.com/ilios/ilios/blob/master/docs/update.md#frontend">More Information</a>
            </div>
        </div>
    </div>

</body>
</html>
