{%  if (form is defined) %}
    <form action="{{ url('post_course') }}" method="POST" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <input type="submit" value="Save">
    </form>
{% endif %}
