<h1>
    {{course.id}}:
    {{course.title}}
</h1>
<h5>Sessions</h5>
<ul>
    {% for sessionId in course.sessions %}
    <li>
        <a href="{{ path('get_session', {'id': sessionId, '_format': 'html'}) }}">
            {{ sessionId }}
        </a>
    </li>
    {% endfor %}
</ul>
