/*
 * Stylesheet for markup on the user management console screen.
 */


/** Management Console - main content area */
#management_center_content  {
}


#management_center_content .indeterminate_progress {
	position: absolute;
	left: 12px;
	bottom: 12px;
	display: none;
}

#management_center_content .mc_title {

}
.admin-tools {
    margin: 1em;
    text-align: right;
}
#management_center_content .mc_section_container {
    margin: 1em;
    clear: both;
}

#management_center_content .mc_section_description {
    padding: 1em;
}

#management_center_content .mc_section_description em {
	font-style: normal;
	color: #aa3300;
}


#management_center_content .mc_section_title_container {
    padding: 1em;
    font-weight: bold;
}

#management_center_content .mc_section_title_container .title {
    padding-left: 2em;
}

#management_center_content .mc_section_title_container .alert {
	background: url("../images/orange_alert_triangle.png") no-repeat 0 0 ;
    color: #EE0000;
}


#management_center_content .mc_section_title_container .info {
	background: url("../images/checkbox_full.png") no-repeat 0 0;
}


#management_center_content .mc_section_body_container {
	overflow: auto;
	margin: 0;
	border: 1px solid #DFDFDF;
	max-height: 200px;
	padding: 1em;
}

/* User Account Details Panel */
#ua_account_details {
	width: 485px;
}

#ua_account_details .dialog_wrap {
	height: 340px;
	padding: 6px 9px 0 9px;
	position: relative;
	width: 467px;
}

#ua_account_details .dialog_inner_wrap {
	margin: 10px 12px;
}

#ua_account_details .title {
	font-size: 13pt;
	margin: 18px 9px;
}

#ua_account_details .directory_mismatch_value {
	font-size: 11px;
	color: #f00;
}

#ua_account_details .ua_detail_name {
	display: block;
	width: 150px;
	float: left;
}

#ua_account_details .ua_detail_value {
	float: left;
	width: 293px;
	overflow: hidden;
}

#ua_account_details .ua_detail_section {
	padding: 10px 0;
}

#ua_account_details .ua_sync_errors {
	color: #f00;
	font-weight: bolder;
}



/** Queued actions for sync exceptions */
#ua_queued_actions_container {
	float: left;
	width: 317px;
}

#ua_queued_actions_container .mc_section_body_container {
	padding: 0;
}

#ua_queued_actions .ua_queued_action {
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 2px 2px 0 2px;
}

#ua_queued_actions .ua_queued_action:nth-child(odd) {
	background-color: #dfdfdf;
}

#ua_queued_actions .ua_queued_action .ua_queued_action_user {
	float: left;
	width: 150px;
	overflow: hidden;
}

#ua_queued_actions .ua_queued_action .ua_queued_action_name {
	float: right;
	padding-right: 5px;
	font-style: italic;
	color: #f00;

}

#ua_queued_actions .ua_queued_action .ua_queued_action_remove_btn {
	float: right;
	background: url("../images/x.gif") no-repeat;
	height: 14px;
	width: 14px;
	margin: 0;
	margin-left: 9px;
	padding: 0;
	cursor: pointer;
	text-indent: -9999px;
}

#ua_process_queued_actions_btn {
	float: right;
}

/** user sync exceptions staged for processing */
#ua_processed_sync_exceptions {
	display: none;
}

/** user sync exceptions */
#ua_sync_exceptions_container {
	float: left;
	width: 489px;
}

#ua_sync_exceptions_container .mc_section_body_container {
	padding: 0;
}


#ua_sync_exceptions .ua_sync_exception {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 2px 2px 0 2px;
	background-color: #dfdfdf;
}

#ua_sync_exceptions .ua_sync_exception:nth-child(even) {
	background-color: #fff;
}
