name: Deploy Latest Containers
on:
  push:
    branches:
      - master

jobs:
  deploy-github-containers:
    name: Github Registry as latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - php-apache
          - nginx
          - fpm
          - fpm-dev
          - admin
          - migrate-database
          - update-frontend
          - consume-messages
          - mysql
          - mysql-demo
          - elasticsearch
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: zorgbort
        password: ${{ secrets.ZORGBORT_TOKEN }}
    - name: ${{ matrix.image }} to Github Registry
      uses: docker/build-push-action@v2
      with:
        tags: ilios/ilios/${{ matrix.image }}:latest
        target: ${{ matrix.image }}
        push: true
  deploy-docker-containers:
    name: Docker Registry as latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - php-apache
          - nginx
          - fpm
          - fpm-dev
          - admin
          - migrate-database
          - update-frontend
          - consume-messages
          - mysql
          - mysql-demo
          - elasticsearch
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: zorgbort
        password: ${{ secrets.ZORGBORT_DOCKER_TOKEN }}
    - name: ${{ matrix.image }} to Docker Registry
      uses: docker/build-push-action@v2
      with:
        tags: ilios/${{ matrix.image }}:latest
        target: ${{ matrix.image }}
        push: true