name: Deploy Latest Containers
on:
  push:
    branches:
      - master

jobs:
  deploy-containers:
    name: Deploy Containers
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - php-apache
          - nginx
          - fpm
          - fpm-dev
          - admin
          - update-frontend
          - consume-messages
          - console-command
          - mysql
          - mysql-demo
          - opensearch
          - redis
          - tika
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        image: tonistiigi/binfmt:latest
        platforms: linux/amd64,linux/arm64
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: zorgbort
        password: ${{ secrets.ZORGBORT_DOCKER_TOKEN }}
    - name: ${{ matrix.image }} to Docker Registry
      uses: docker/build-push-action@v6
      with:
        tags: |
            ilios/${{ matrix.image }}:latest
        target: ${{ matrix.image }}
        push: true
        provenance: false #https://github.com/gabrieldemarmiesse/python-on-whales/issues/407
        platforms: linux/amd64,linux/arm64
