name: Future PHP Versions

on:
  workflow_dispatch:
  schedule:
    - cron: '33 1 * * 1' # weekly, on Monday morning

env:
  MAILER_DSN: null://null
  ILIOS_LOCALE: en
  ILIOS_SECRET: ThisTokenIsNotSoSecretChangeIt
  ILIOS_FILE_SYSTEM_STORAGE_PATH: /tmp
  SYMFONY_DEPRECATIONS_HELPER: disabled=1
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_ILIOS_DEPLOYMENT_WEBHOOK_URL }}
  future_php: 8.4

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install PHP ${{ env.future_php }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ env.future_php }}
        coverage: none
        extensions: apcu
    - name: install dependencies
      run: composer install --no-interaction --prefer-dist
    - name: Run Tests
      run: vendor/bin/phpunit
    - uses: act10ns/slack@v2.1.0
      with:
        status: ${{ job.status }}
        message: PHP v${{ env.future_php }} (future version) tests failed {{ env.GITHUB_SERVER_URL }}/{{ env.GITHUB_REPOSITORY }}/actions/runs/{{ env.GITHUB_RUN_ID }}
      if: failure()
