Options +FollowSymLinks

# Get rid of Compatibility View button in IE 10 and below
<IfModule mod_headers.c>
  BrowserMatch MSIE ie
  Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
</IfModule>

#
# redirect all request to HTTPS
#
RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

#
# Redirect requests for ilios2.php to ilios.php
#
RewriteRule ^ilios2\.php(.*)$ ilios.php$1 [R=301,QSA,L]

#shorten the url of the calendar feed, so it works witih Google calendar
RewriteRule ^ilios\.php/iCal/(.*)$ ilios.php/api/calendar/$1 [R,QSA,L]

#
# deny web access to shell scripts
#
<Files ~ "\.sh$">
  deny from all
</Files>

#
# deny web access to tarballs
#
<Files ~ "\.tar\.gz$">
  deny from all
</Files>

#
# deny web access to web.config file
#
<Files "web.config">
  deny from all
</Files>
