<?xml version="1.0" encoding="UTF-8"?>
<!--  IIS 7 Web.Config file for the Ilios web application -->
<configuration>
    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <system.webServer>
        <security>
            <requestFiltering>
                <!--  filter out shell scripts and tarballs -->
                <fileExtensions allowUnlisted="true">
                     <add fileExtension=".sh" allowed="false" />
                     <add fileExtension=".tar.gz" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Ilios front controller" stopProcessing="true">
                    <match url="^ilios2\.php/(.*)$" />
                    <action type="Redirect" url="ilios.php/{R:1}" />
                </rule>
		<!-- To support the Google Calendar API's 117 character-length url limitation, shorten the url by 10 characters -->
                <rule name="Ilios calendar API feed shortener" stopProcessing="true">
                    <match url="^ilios\.php/iCal/(.*)$" />
                    <action type="Redirect" url="ilios.php/api/calendar/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
