<?xml version="1.0" encoding="UTF-8"?>
<!--  IIS 7 Web.Config file for the Ilios2 web application -->
<configuration>
    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <system.webServer>
        <security>
            <requestFiltering>
                <!--  filter out shell scripts and tarballs -->
                <fileExtensions allowUnlisted="true" >
                     <add fileExtension=".sh" allowed="false" />
                     <add fileExtension=".tar.gz" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
